<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Mark Wahlberg</string>
	<string>Tom Hardy</string>
	<string>Morgan Freeman</string>
	<string>Robert Downey Jr</string>
	<string>Tom Cruise</string>
	<string>Chris Hemsworth</string>
	<string>Tom Hanks</string>
	<string>Ryan Gosling</string>
	<string>Matt Damon</string>
	<string>Chris Pratt</string>
	<string>Leonardo DiCaprio</string>
</array>
</plist>
