<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Monitor - Mind The Over - Void</string>
	<string>The Presence</string>
	<string>The Great Evil Beast</string>
	<string>Lucifer MorningStar</string>
	<string>Michael Demiurgos</string>
	<string>The Word</string>
	<string>Mr. MXYZPTLK</string>
	<string>Spectre</string>
	<string>Anti - Monitor</string>
	<string>Eclipso</string>
	<string>Krona</string>
</array>
</plist>
