<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Talonflame</string>
	<string>Kyurem</string>
	<string>Bruxish</string>
	<string>Missingno</string>
	<string>Metang</string>
	<string>Mega Mawile</string>
	<string>Arceus</string>
	<string>Bewear</string>
	<string>Rayquaza</string>
	<string>Espurr</string>
	<string>Buzzwole</string>
</array>
</plist>
